/* *{
    font-family: monospace !important;
} */
/* @font-face {
    font-family: newFont;
    src: url(fonts/Montserrat-Regular.ttf);
  }
   */
 * {
    font-family: newFont;
    /* font-size: 20px; */
    color:whitesmoke;
  }
  .ui-content{
    color:black !important;
  }

.g-div-overflow{
    overflow: scroll;
    /* max-height: 100%; */
}

.g-page-header, .g-page-header>a {
    /* color: #fff !important; */
    background-color: #468075 !important;
    border-color: rgba(88, 161, 147, 0.2) !important;
    background: linear-gradient(180deg, #58a193, #0c0e0d) repeat !important;
    /* background: linear-gradient(180deg, #29323c , #485563) repeat; */
}
.ui-btn-active {
    text-shadow: unset !important;
}
.g-toast-success{
    color: teal;
    font-size: 1.5em !important; 
    
}
.g-homePage,[data-role="page"]{
    background-color: #468075 !important;
    border-color: rgba(88, 161, 147, 0.2) !important;
    background: linear-gradient(180deg, #29323c , #485563) repeat !important;
}
.g-side-panel{
    overflow: scroll !important;
    max-height: 500px !important;
}
.g-membership{
    font-size: 15px;
    /* background-color: goldenrod; */
     margin-bottom: 20px; 
     margin-right: 20px;
}
.g-account-profileBG{
    background: url('../img/owner/background.jpg')  ;
    border-radius: 10px 10px;
    max-width: 100%;
    /* max-height: 200px; */
    height: 200px;   
}
.g-img{
    border-radius: 10px 10px;
    max-width: 100%;
    height: 200px;   
}
.g-tooltip{
    max-width: 200px;
}
.g-notes{
    background-color:beige;
    border-radius: 10px 10px;
}
.g-notes::after{
    content: "** All amounts are in Rupees";
}
.g-home-header{
    font-size: 1.5em !important; 
}
.g-card-large{
    font-size: 1.7em !important; 
}
.g-card-panel-guest{
    background: linear-gradient(60deg,#f06292 ,#424242);
}
.g-card-panel-revenue{
    background: linear-gradient(60deg,#00e5ff  ,#424242);
}
.g-card-panel-expenditure{
    background: linear-gradient(60deg,#c79081  ,#dfa579);
}
.g-card-panel-orders{
    background: linear-gradient(60deg,#00c853   ,#c3cfe2);
}
.g-card-panel{
    transition: 1s ease-in-out;
}